$match-parent: 100%;
.login-page {
  width: $match-parent;
  height: $match-parent;
  display: flex;
}

.mobile-device .login-welcome {
  display: none;
}

.login-welcome {
  /* background-image: url('./fire.jpg'); */
  /* background: -webkit-linear-gradient(left, #a1c4fd , #c2e9fb);  */
  background: linear-gradient(to bottom right, #a1c4fd , #c2e9fb); /* 标准的语法 */
  /* background-color: cornflowerblue; */
  background-clip: border-box;
  background-size: 100% 100%;
  width: calc(100% - 350px);
}
.login-panel {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
}
.mobile-device .login-panel {
  width: 100%;
}
.panel-tip {
  text-align: left;
  padding-left: 100px;
  padding-bottom: 100px;
}