.main-page {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  animation: fadein 0.5s;
  .main-header {
    color: #fff;
    font-size: 24px;
    text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

    .btn-setting {
      border: 0;
      background-color: transparent;
      color: inherit;
      display: block;
      float: right;
      margin-top: 14px;
      padding: 5px 7px;
      font-size: 32px;
    }
  }
}

.main-drawer {
  .drawer-div {
    width: 500px;
  }
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.ant-layout {
  height: 100%;
}

.time-picker {
  margin-right: 20px;
}

.vertical-divider {
  height: 30px;
  margin-right: 30px;
}
.card {
  width: 320px;
  height: 280px;
}
